<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ck.tutorialxv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar">


        <activity
            android:name=".activities.supuni.AddBook"
            android:exported="false" />
        <activity
            android:name=".activities.supuni.EditBook"
            android:exported="false" />
        <activity
            android:name=".activities.supuni.ReadBook"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.StudentAccount"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.Std_progress"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.EnrollCourseview"
            android:exported="false" />

        <activity
            android:name=".activities.chamith.SignView"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.Enroll_courses"
            android:exported="false" />

        <activity
            android:name=".activities.sehan.ViewAllQuiz"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.QuizResultActivity"
            android:exported="false" />

        <activity
            android:name=".activities.sehan.ViewAllQuizStd"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.StudentHome"
            android:exported="false" />
        <activity
            android:name=".activities.teacherRegister"
            android:exported="false" />
        <activity
            android:name=".activities.teacherAccount"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.FetchingCourse"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.FetchingAllCourse"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.CourseFetch"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.AddClass"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.register"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".activities.chamith.MainActivity"
            android:exported="false" /> <!-- sehan -->
        <activity
            android:name=".activities.sehan.DialogQuizInfo"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.View_Quiz_Details"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.Add_Single_Quiz"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.Add_Quiz_Info"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.LoginIntro"
            android:exported="false" />
        <activity
            android:name=".activities.sehan.SingleQuizStd"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.StdCourseOverview"
            android:exported="false" />
        <activity
            android:name=".activities.chamith.Enroll_courses"
            android:exported="false" />

        <activity
            android:name=".activities.hansika.AddBlog"
            android:exported="false" />

        <activity
            android:name=".activities.hansika.ReadBlog"
            android:exported="false" />

        <activity
            android:name=".activities.hansika.EditBlog"
            android:exported="false" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>